
.basic-form-container{
    display: flex;
    flex-direction: column;
    
}
.btn{
    background-color: orange;
}
.btn-primary{
    background-color: yellowgreen;
    margin: 10px;
}

.btn-error{
    margin: 10px;
    background-color: red;

}

h2{
    color: orange;
}


.form{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}